<%- include('header'); -%>

<h1>About Page</h1>
<p> Welcome to our simple and easy-to-use to-do list website! We understand that life can get overwhelming at times, and that's why we created a platform that helps you stay organized and on top of your tasks.

Our website allows you to create and manage to-do lists for all aspects of your life, from work and school to personal projects and errands. With our intuitive interface, you can easily add, edit, and complete tasks, as well as set reminders to keep you on track.

In addition to our basic to-do list features, we also offer a number of advanced features to help you stay productive. You can prioritize tasks, set recurring tasks, and even collaborate with others on shared lists.

We strive to make our website as user-friendly as possible, so you can focus on getting things done. Our goal is to help you streamline your to-do list and make the most of your time.

Thank you for choosing our website and we hope you find it helpful in achieving your goals!</p>
<%- include('footer'); -%>